.floopDrawer  #list-scroll-type .panel-default,
.floopDrawer  #list-scroll-type .panel-heading,
.floopDrawer  #list-scroll-type .panel-body{
	margin-bottom: 0px;
}
.floopDrawer {
	width: 250px;
    display: none;
    /* height: 780px; */
    top: 63px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    background-color: white;
    /* margin-top: -10px; */
    text-align: left;
    /* padding: 3px; */
    -moz-box-shadow: 0px 0px 6px 0px rgba(28, 41, 50, 0.6);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(28, 41, 50, 0.6);
    -o-box-shadow: 0px 0px 6px 0px rgba(28, 41, 50, 0.6);
    box-shadow: 0px 5px 6px 0px rgba(28, 41, 50, 0.6);
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);
    z-index: 100000;
    border-radius: 0px;
}
.floopDrawer .floopHeader{
	width: 100%;
	border-radius: 0px;
	height: 53px;
	padding-top: 18px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 300;
	border-bottom: 1px solid rgba(197, 197, 197,1);
	/*border-top: 2px solid rgba(197, 197, 197,1);*/
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
}
.floopDrawer .floopHeader .btnFloopClose{
	background-color: transparent;
	border-radius: 50%;
	color: black;
	margin-right: 15px;
	width: 25px;
	height: 24px;
	float: right;
	margin-top: -2px;
	font-size: 11px;
	border: 0px;
}
.floopDrawer .floopHeader .btnFloopClose:hover{
	background-color:rgba(221, 18, 18, 0.65);
	color: white;
}
.floopDrawer .floopScroll{
	overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    bottom: 0px;
    top: 90px;
    scroll-behavior: smooth; /*only for firefox*/
}
.floopDrawer .floopHeader #floopScrollByType{
	margin-top:-2px;
}
.floopDrawer .floopHeader #floopScrollByType .btn-scroll-type{
	width: 25px !important;
	border-radius: 50%;
	height: 25px;
	margin-right: 7px;
	display: inline-block;
	text-align: center;
	padding-top: 1px;
	margin-top: 0px;
	font-size: 14px;
	/*float:right;*/
	color: white;
}
/*.floopDrawer .btn-scroll-type img, .floopDrawer i.fa{
	vertical-align: middle !important;
}*/

.floopDrawer input#search-contact{
	/*width: 270px;
	float:right;
	margin-right: 0px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(255, 255, 255, 0.54);
	border: 0px;
	padding-top: 10px;
	font-size: 13px;
	text-align: left;*/
	border-radius: 0px;
}
.floopDrawer .fa-search{
	/*padding: 13px 0px 15px 11px !important;*/
}
.floopDrawer .search-floop .input-group-addon:first-child {
    border-right: 0;
}

.floopDrawer  .floopScroll .panel-default,
.floopDrawer  .floopScroll .panel-heading,
.floopDrawer  .floopScroll .panel-body{
	margin-bottom: 0px;
}
.floopDrawer .panel-heading{
	padding: 0px;
	min-height: auto;
	background-color: #FFF !important;
	border: none;
	width: 100%;
	 -moz-box-shadow:      0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  -webkit-box-shadow:  0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  -o-box-shadow:       0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  box-shadow:          0px 2px 2px -2px rgba(0, 0, 0, 0.4);
	  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=4);
}

.floopDrawer .panel-heading h4{
	margin:0px;
	font-size: 18px !important;
	font-weight: 200;
	/*background-color: #315C6E !important; /*rgba(114, 114, 114, 0.1);* /*/
	padding: 10px;
	border-radius: 0px;
}
.floopDrawer .modal-body{
	padding: 0px 15px;
}

.floopDrawer .panel-body{
	background-color: transparent !important;
}
.floopDrawer .panel{
	padding: 0px;
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.floopDrawer ul{
	list-style: none !important;
	padding-left: 0px;
	/*margin-bottom:20px;*/
}

.floopDrawer .list-group{
	margin-bottom:0px !important;
}
.floopDrawer #list-scroll-type ul{
	margin-bottom:0px !important;
}
.floopDrawer #menu-type ul li{
	font-size:16px;
}
.floopDrawer #menu-type ul li i{
	width:20px;
	text-align: center;
}
.floopDrawer #menu-type ul li a:hover{
	color:inherit !important;	
	text-decoration: underline;
}
.floopDrawer .btn-scroll-type{
	border: none!important;
    width: 85%;
    padding: 0px 3px;
    text-align: left;
    margin-top: 0px;
    background-color: transparent;
    float: left;
}
.dropdown-settings-floop {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.floopDrawer .btn-select-contact{
	
	width:80% !important;
	border-radius:0px;
}

.floopDrawer #menu-type .btn-scroll-type{
	border:none!important;
    padding: 2px;
	text-align: left;
	width: 92%;
	margin-left: 4%;
	padding: 6px 4px 4px 8px;
	margin-bottom: 3px;
	background:transparent !important;
}
.floopDrawer #menu-type .btn-scroll-type:hover{
	background-color:rgba(0, 0, 0, 0.04) !important;
}
.floopDrawer #scope-postal-code{
	width: 99%;
	display: none;
	margin-left: -1% !important;
}
.floopDrawer .info-contact{
	max-width: 78%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
.floopDrawer .scope-city-contact{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 160px;
	display: inline-block;
	height: 15px;
 } 
.floopDrawer .scope-name-contact{
	display: inline-block;
    vertical-align: middle;
    text-align: left;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}
.floopDrawer .thumb-send-to {
    width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 5px;
	padding: 3px;
	margin-top: 7px;
}
.floopDrawer .text-light{
	font-weight:500;
	color:rgba(0, 0, 0, 0.3) !important;
}
.floopDrawer #menu-type h4 {
    background-color: rgba(35, 83, 96, 0.15);
	color: #2D6569;
	width: 100%;
	float: left;
	padding: 10px 10px 10px 20px;
	margin: 0;
	margin-bottom: 10px;
}
.floopDrawer .btn_shortcut_add{
	margin-top: -3px;
	margin-right: 3px;
	color:white;
	border:0px;
}


.floopDrawer .bg-yellow, .floopDrawer .bg-green, 
.floopDrawer .bg-orange, .floopDrawer .bg-purple{
	/*padding-bottom:2px;
	padding-top:5px;
	border-bottom: 3px solid transparent;
	margin-top: -4px;
	margin-left: 3px;*/
}

.floopDrawer .bg-yellow:hover, .floopDrawer .bg-green:hover, 
.floopDrawer .bg-orange:hover, .floopDrawer .bg-purple:hover{
	border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.floopDrawer label.no-element{
	padding: 0px 10px;
	color: rgb(177, 177, 177);
}

.floopDrawer .btn-open-chat{
	margin-top: 13px;
	margin-right: 10px;
	border-radius: 15px;
	padding: 3px 6px;
	color: #575b75;
}
@media (min-width: 1251px)  {
	.floopDrawer .floopEntries .dropdown-settings-floop .arrow_box{
		width: 300px;
	}
}
@media (min-width: 997px) and (max-width: 1250px) {
	.floopDrawer .floopEntries .dropdown-settings-floop .arrow_box{
		width: 260px;
	}
	.floopDrawer .thumb-send-to {
	    width: 15%;
	    height: auto;
	}
}

@media (min-width: 767px) and (max-width: 997px){
	.floopDrawer .thumb-send-to {
	    width: 15%;
	    height: auto;
	}
}
@media screen and (max-width: 996px){
	
	.floopDrawer{
		max-width: 25%;
	}
	.floopDrawer .floopEntries .dropdown-settings-floop .arrow_box{
		width: 180px;
	}
}

@media screen and (max-width: 767px){
	
	.floopDrawer{
		top: 60px;
		width:100% !important;
		max-width: 100%;
	}
	/*.floopDrawer input#search-contact {
	    width: 90%;
	    height: 62px;
		padding-top: 15px;
		padding-bottom: 20px;
	}
	.floopDrawer .fa-search{
		padding: 22px 0px 15px 11px !important;
	}*/

}
.type-follow{
	text-transform: capitalize;
}
.floop-statu{
	text-transform: none;
    font-size: small;
    color: #73879C;
    font-style: italic;
    padding-left: 5px;
}

.floopDrawer .floopEntries .dropdown-settings-floop .arrow_box{
	position: absolute;
    width: 250px;
    right: 2px;
    border: 1px solid #ccc;
    padding: 0px;
}


.floopDrawer .floopEntries .dropdown-settings-floop .arrow_box:before, .floopDrawer .floopEntries .dropdown-settings-floop .arrow_box:after{
	    left: inherit;
    right: 6px;
}
.floopDrawer .floopEntries .dropdown-settings-floop .arrow_box .btn{
	margin: 0px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    line-height: 22px;
}
.floopDrawer .btn-show-all{
	float: right;
    margin-right: 8px;
    padding: 0px 3px;
    color: #4385f4;
    background: white;
    border: 1px solid;
    border-radius: 2px;
}
.floopDrawer .btn-accept-floop{
 	 border-radius: 3px !important;
    color: white;
    background-color: #71CE4E;
    padding: 2px 5px;
    margin-top: 5px;
  }
  .floopDrawer .btn-refuse-floop{
	border-radius: 3px !important;
    color: white;
    background-color: #E33551;
    padding: 2px 5px;
    margin-top: 5px;
}
.floopDrawer .btn-refuse-floop:hover {
    color: #E33551 !important;
    background-color: white;
    border: 1px solid #E33551;
}
.floopDrawer .btn-accept-floop:hover {
    color: #71CE4E !important;
    background-color: white;
    border: 1px solid #71CE4E;
}
