.main-col-search{
	padding:0px !important;
	background-color: white !important;
}
.home_page h3.subtitle{
	font-weight: 300;
	font-size:20px;
}
.home_page h3.information{
	/*font-weight: 500;*/
	font-size:16px;
}

.home_page #main-logo-home{
	max-height: 290px;
	margin-top:30px;
}

.home_page .imageSectionVideo{
	width:80%;
	margin-left:10%;
}
.home_page .section-video{
	margin-top: 40px;
}

.home_page .btn-top{
	border-radius: 50px;
}

.home_page .btn-discover{
	border-radius: 60px;
	font-size: 50px;
	font-weight: 200;
	border: 1px solid transparent;
	width: 90px;
	height: 90px;
}
.home_page .btn-discover:hover{
	background-color: white !important;
	border-color: #2BB0C6 !important;
	color: #2BB0C6 !important;
}

.home_page .discover-subtitle{
	font-size:13px;
	margin-top: -6px;
	display: block;
}

.home_page .pastille{
	height: 100%;
	width: 100%;
	border-radius: 50px;
	font-size: 45px;
	padding: 13px 32px;
}

.list-action{
	/*width: 100%;*/
	/*padding: 5px 10px;*/
	margin-bottom:40px;
	font-size: 15px;
	font-weight: 300;
}

#img-network-for-all{
	/*max-width: 800px;*/
	padding:25px;
}
.menu-home-btn-ins{
	position: fixed;
	top: 0px;
	padding: 5px;
	right: 2%;
	z-index: 30;
	border-radius: 30px 30px 30px 30px;
}

.btn-success.communected{
	width: 50%;
	margin-left: 25%;
	padding: 10px;
	border-radius: 20px;
	background-color:#5cb85c;
	color:white;
}


.keyword,.keyword1{margin-bottom: 3px;font-size:1.3em;}
.keywordExplain,.usageExplain{font-size:1.3em;}
.fa-caret-down{font-size:56px;line-height: 10px;}
.headerIcon{font-size: 1.6em;}

.social-list{	padding: 0;}
.social-list li{	list-style-type: none;	display:inline;margin-right:10px;}
.social-list li a{ font-size:24px;}
.social-list .btn{	margin-top: 15px;}
a.btn.btn-social{	color: #FFF;	background-color: #2a3945; }
a.btn.btn-social:hover{	background: none;}
a.btn.btn-facebook:hover{	color: #3b5998;}
a.btn.btn-twitter:hover{	color: #00a0d1;	border-color: #00a0d1;}
a.btn.btn-google:hover{	color: #dd4b39;	border-color: #dd4b39;}
a.btn.btn-github:hover{	color: #4078C0;	border-color: #4078C0;}
.yellowph{color:#F6E201;}
.information{
	font-size:15px;
	color:#8b91a0;
}

.btn-show-video{
	position:absolute;
	bottom:10px;
	right:40%;
}


#img-header{
	display:inline;
	max-height: 540px;
}

/*.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;  16:9 
	padding-top: 25px;
	height: 0;
	/*display: none;* /
}*/
.videoWrapper iframe {
	/*position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
}

.flexContainer {
	display: flex;
	align-items: center;
    justify-content: center;
}

.explainLink {
	color: #e33551;
	text-decoration-line: underline !important;
	text-decoration-style : dotted !important;
}

.home_page h1{
	margin-top:5px;
	padding:0 25px;
	text-align:center;
}

.header-nowList{
	display: none;
}
/*.el-nowList{

	width:23% !important;
	margin-right:1%;
	margin-left:1%;
	margin-bottom: 15px !important;
	float:left!important;
}
.el-nowList:hover{
	width:23% !important;
	float:left!important;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}
.el-nowList:hover .elemt_name, .el-nowList:hover .elemt_date {
    width: 67% !important;
}
.el-nowList.no-img:hover .elemt_name, 
.el-nowList.no-img:hover .elemt_date {
    width: 100%!important;
}*/
/*.col-nowList hr{
	margin-bottom: 50px!important;
}*/

a.link-submenu-home {
    padding: 15px;
    font-size: 20px;
    border: 1px solid #e4e4e4;
    margin-right: 5px !important;
    border-radius: 3px;
}

.previewLocalActivity{
	float: unset;
	position: absolute;
	z-index: 100;
	left: 25%;
	width: 50%;
	min-height:400px;
}

#before-section-result{
	display: none;
}
.peopleTalkComment{
	font-size:11px;
}
.peopleTalkName{
	font-weight: bold;
}
#co-friends .img-thumbnail{
	width: 100%;
}
hr.angle-down::after, hr.plus::after {
    background-color: #e6344d;
}
hr.angle-down, hr.plus{
    border-color: #e6344d;
}


	/*#mainNav .dropdown-result-global-search{
        top:56px !important;
        left:83px !important;
    }*/
    @media (min-width: 767px) and (max-width: 992px) {
        #mainNav .dropdown-result-global-search{
            width:40% !important;
        }

    } 
	
	@media (max-width: 767px) {
       
        .h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, 
        h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small {
		    font-size: 12px !important;
		}
		.btn-main-menu{
			min-height:unset!important;
		}

    } 
    .videoWrapper{
	   	display: none;
   	    background: black;

   }
.videoWrapper         {height:100%;}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;background-color: white;}
.videoSignal{
	position: absolute;
    width: 100%;
    line-height: 100px;
    height: 100%;

    top: 0px;
    background-color: rgba(0,0,0,0.0);
    left: 0px;
}
.videoSignal:hover{
	background-color: rgba(0,0,0,0.0);
}
#videoDocsImg img{
	margin:	auto; 
	display: block;
}
/*.videoSignal a {
	
}*/
.videoSignal:hover span{
background-color: #09adef;
}

.videoSignal:hover span > i{
	color: white;
}
.videoSignal span{
 	width: 130px;
    margin: auto;
    height: 75px;
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    padding: 20px 40px;
    left: 0;
    text-align: center;
    position: absolute;
    right: 0;
    font-size: 100px;
    top: 0%;
    border-radius: 13px;
}
.videoSignal span > i  { 
	color: white;
    font-size: 50%;
    position: relative;
    margin: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    font-size: 37px;
    padding: 20px 40px;
    top: 0px;
}

.ahover {
	border: 1px solid #fff;
}
.ahover:hover{
	border: 1px solid #666;
}
#bg-homepage small{
	text-transform: none!important;
}

.btn-show-map-home{
	border-radius: 40px;
	border: 2px solid #0095FF;
	text-decoration: none!important;
}
.btn-show-map-home:hover{
	border: 2px solid #FFF;
	background-color: #0095FF;
	color:white!important;
	text-decoration: none!important;
}
